<div class="jumbotron hero">
    <div class="container">

        <div class="row">
            <!-- <div class="col-md-4 col-md-push-6">
            </div> -->
            <div id="heroText"class="col-md-6 col-md-offset-3 get-it animated slideInRight">
                  {{!-- <h1>RESOURCEFOODS</h1> --}}
                <p class="para">Just add your ingredients from your fridge and pantry and Resourcefoods instantly finds matching recipes from the most popular cooking websites!</p>
                <!-- <p><a class="btn btn-primary btn-lg" role="button" href="#"><i class="fa fa-user-plus"></i>Join Now</a></p> -->
            </div>
        </div>
    </div>
</div>
<div class="gradient-background">

    <div class="features-clean ">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" id="howitworks">How It Works</h2>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item">
                    <i class="glyphicon glyphicon-share ontop"></i>
                    <h4 class="name">Sign-Up</h4>
                    <p class="description">Create a user account</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-ok ontop"></i>
                    <h3 class="name">Add Food Items</h3>
                    <p class="description">Input all the items you have in your fridge and pantry</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-search ontop"></i>
                    <h3 class="name">Search For Recipes</h3>
                    <p class="description">Select up to 3 main items you would like your recipe to include</p>
                </div>

            </div>
        </div>
    </div>

    <div id="howItWorks"class="features-clean">
      {{!--
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Limit Waste In Your Life</h2>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-usd icon"></i>
                    <h3 class="name">Save Cash</h3>
                    <p class="description">Now you can use all your grocery before it spoils</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-time icon"></i>
                    <h3 class="name">Save Time</h3>
                    <p class="description">Find the perfect recipe to cook in minutes</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-list-alt icon"></i>
                    <h3 class="name">Customizable</h3>
                    <p class="description">Add your own recipes & dietary requests</p>
                </div>

            </div>
        </div> --}}
    </div>
</div>
