<div class="jumbotron hero">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-7 phone-preview">
                <!-- <div class="iphone-mockup"><img src="assets/img/iphone.svg" class="device">
                    <div class="screen"></div>
                </div> -->
            </div>
            <div class="col-md-6 col-md-pull-3 get-it">
                <h1>RESOURCEFOODS</h1>
                <p>Just add your ingredients from your fridge and pantry and Resourcefoods instantly finds matching recipes from the most popular cooking websites!</p>
                <p>To get started, choose your ingredients from the categories on the left. Matching recipes that you can make will automatically appear and update.</p>
                <p><a class="btn btn-primary btn-lg" role="button" href="#"><i class="fa fa-user-plus"></i>Join Now</a></p>
            </div>
        </div>
    </div>
</div>
<div class="features-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Limit Waste In Your Life</h2>
        </div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-usd icon"></i>
                <h3 class="name">Save Cash</h3>
                <p class="description">Use all your grocery before it spoils</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-time icon"></i>
                <h3 class="name">Save Time</h3>
                <p class="description">Find the perfect recipe to cook in minutes</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-list-alt icon"></i>
                <h3 class="name">Customizable</h3>
                <p class="description">Add your own recipes & dietary requests</p>
            </div>

        </div>
    </div>
</div>
<div class="features-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">How It Works</h2>
        </div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-share icon"></i>
                <h3 class="name">Sign-Up</h3>
                <p class="description">Create a user account</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-ok icon"></i>
                <h3 class="name">Add Food Items</h3>
                <p class="description">Input all the items you have in your fridge and pantry</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-search icon"></i>
                <h3 class="name">Search For Recipes</h3>
                <p class="description">Select up to 3 main items you would like your recipe to include</p>
            </div>

        </div>
    </div>
</div>

<div></div>
