<div class="container-fluid">
  <!-- <h1>Recipe Search</h1> -->
  <div class="row">
    <div class="col-3-sm col-md-3">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">What ingredients would you like to cook with?</h3>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">Select or Add 3 items to start your recipe search</p>
            <button>Add Items</button>
            <button>Choose From Categories</button>
          </div>
        </div>
      <div id="accordion" role="tablist">
        <form action="">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Vegetables
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" name="garlic" type="checkbox" value="garlic">
                      Garlic
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input"name="onion" type="checkbox" value="onion">
                    Onion
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" name="tomato" type="checkbox" value="tomato">
                    Tomato
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" name="kale" type="checkbox" value="kale">
                    Kale
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" name="spinach"type="checkbox" value="spinach">
                    Spinach
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" name="cucumber"type="checkbox" value="cucumber">
                    Cucumber
                  </label>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Meats
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Chicken Breast" name="Chicken Breast">
                 Chicken Breast
                </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Ground Beef" name="ground beef">
                 Ground Beef
                </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Ground Turkey">
                 Ground Turkey
                </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Beef" name="beef">
                 Beef
                </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Pork" name="pork">
                Pork
                </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Salmon" name="Salmon">
                 Salmon
                </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="Duck" name="Duck">
                 Duck
                </label>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Oils
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Vegetable Oil" name="Vegetable Oil">
                    Vegetable Oil
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Corn Oil" name="Corn Oil">
                   Corn Oil
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Olive Oil" name="Olive Oil">
                    Olive Oil
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Grapeseed Oil" name="Grapeseed Oil">
                    Grapeseed Oil
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Conola Oil" name="Conola Oil">
                   Conola Oil
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Avacado Oil" name="Avacado Oil">
                    Avacado Oil
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Cooking Spray" name="Cooking Spray">
                    Cooking Spray
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Peanut Oil" name="Peanut Oil">
                    Peanut Oil
                  </label>
                </div>

              </div>
            </div>
          </div>



          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Dairy
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Butter" name="Butter">
                    Butter
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Eggs" name="Eggs">
                   Eggs
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Milk" name="Milk">
                    Milk
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Cheese" name="Cheese">
                    Cheese
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="yogurt" name="yogurt">
                   yogurt
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Sour cream" name="Sour cream">
                    Sour cream
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Cream Cheese" name="Cream Cheese">
                    Cream Cheese
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Cream" name="Cream">
                    Cream
                  </label>
                </div>

              </div>
            </div>
          </div>



          <div class="card">
            <div class="card-header" role="tab" id="headingFive">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Spices
                </a>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Italian  Seasoning" name="Italian  Seasoning">
                    Italian  Seasoning
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Onion Powder" name="Onion Powder">
                   Onion Powder
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Chili powder" name="Chili powder">
                    Chili powder
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Garlic Powder" name="Garlic Powder">
                    Garlic Powder
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Cinnamon" name="Cinnamon">
                   Cinnamon
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Thyme" name="Thyme">
                    Thyme
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Taco Seasoning" name="Taco Seasoning">
                    Taco Seasoning
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="Coriander" name="Coriander">
                    Coriander
                  </label>
                </div>

              </div>
            </div>
          </div>
        </form>
        <button> SEARCH</button>
      </div>
    </div>
    <div class="col-sm-9 off-set-sm-3 col-md-9">
      <div class="features-boxed">
        <div class="container">
          <div class="intro">
            <h2 class="text-center">Recipe Results</h2>
          </div>
          <div class="container">
            <div id="results">

            </div>
          </div>
          <div class="row features">
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-map-marker icon"></i>
                <h3 class="name">Works everywhere</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-time icon"></i>
                <h3 class="name">Always available</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-list-alt icon"></i>
                <h3 class="name">Customizable </h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-leaf icon"></i>
                <h3 class="name">Organic </h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-plane icon"></i>
                <h3 class="name">Fast </h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-phone icon"></i>
                <h3 class="name">Mobile-first</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
          </div>
          <div class="row features">
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-map-marker icon"></i>
                <h3 class="name">Works everywhere</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-time icon"></i>
                <h3 class="name">Always available</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-list-alt icon"></i>
                <h3 class="name">Customizable </h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-leaf icon"></i>
                <h3 class="name">Organic </h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-plane icon"></i>
                <h3 class="name">Fast </h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
            <div class="col-md-4 col-sm-6 item">
              <div class="box"><i class="glyphicon glyphicon-phone icon"></i>
                <h3 class="name">Mobile-first</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col">
      Results
      <div id="results"> -->


  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/request.js" charset="utf-8"></script>
