
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="results"> 
        <h2>Results</h2>
      </div>
    </div>
    <div class="col-md-12">
      <div>
        <h2>What's Trending</h2>
      </div>
  </div>
  </div>
</div>


<script src="assets/js/request.js" charset="utf-8"></script>
