{{#each recipe}}
  <div class="col-md-4 col-sm-6 item">
    <div class="card">
      <h4 class="text-center">{{recipe.label}}</h4>
      <img class="card-img-top" src="{{recipe.image}}"  alt="Card image cap">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#">Recipe</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Nutrition</a></li>
        <li class="nav-item"><a class="nav-link disabled" href="#">Diet</a></li></ul>
      <div class="card-body"><p class="card-text"> {{recipe.label}}</p>
      </div>
    </div>
  </div>
{{/each }}
