.heading{
    text-align: center;
    color: #3FB5C5;
}

/* Homepage */
/* Nav */
.navbar {
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon {
  margin-right:6px;
}
/* Header */
.hero {
    background:url(../../assets/img/kitchen.jpg) no-repeat center;
    background-size:cover;
    position: relative;
    border:none;
    margin-bottom: 0px;
    z-index: -10;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20, 20, 20, .5);
    z-index: -9 /*Moved one position above the -10 */
  }
  .para{
    color: #fff;
  
  }
@media (min-width:992px) {
  .hero .get-it {
    text-align:right;
    margin-top:30px;
    padding-right:30px;
  }
}
  
@media (max-width:992px) {
  .hero .get-it {
    text-align:center;
  }
}
  
.hero .get-it h1{
  color: #fff;
  margin-bottom:40px;
  font-weight: 600;
}
  
  /* .hero .get-it .btn {
    margin-left:10px;
    margin-bottom:10px;
    text-shadow:none;
  } */
/* Feature Section */
.description {
    font-size:18px;
    margin-bottom:0;
  }

  .features-clean .item .icon {
    font-size:40px;
    color: #3FB5C5;
    float:left;
    margin-top:20px;
    margin-left:-65px;
  }

  .features-clean .item {
    min-height:100px;
    padding-left:80px;
    margin-bottom:40px;
  }
  .features-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 60px;
  }
  .features-clean h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:#3FB5C5;
    text-align: center;
    font-size: 36px;
  }
  .name {
    font-size:24px;
    font-weight: 600;
  }

  @media (max-width:767px) {
    .features-clean h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  } 
  
  @media (max-width:767px) {
    .features-clean .intro {
      margin-bottom:40px;
    }
  }
  
  
  @media (max-width:767px) {
    .features-clean .item {
      min-height:0;
    }
  }

  @media (max-width:767px) {
    .features-clean {
      padding-bottom:10px;
    }
  }


  /* LOGIN */

  /* Dashboard */

  nav.vertical-nav {
    padding: 0;
  }

  .vertical-nav  ul{
    list-style: none;
    padding: 0;
  }

  .vertical-nav ul li{
    display:block;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .vertical-nav ul li a {
    text-align: center;
  }

  .vertical-nav ul li a:hover {
    text-decoration: none;
    font-weight: bolder;
  }
  .signuph2{
    font-weight: bold;
  }
  /* Recipe Search */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
  body{
    /* background: #f2f2f2; */
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    position: absolute;  
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Recipe Search */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
  body{
    /* background: #f2f2f2; */
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    /* position: relative */
  }
  
  .searchTerm {
    width: 80%;
    border: 3px solid #00B4CC;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
  }
  
  .searchTerm:focus{
    color: #000;
  }
  
  .searchRecipeButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
  }
  .input-group{
    margin-top: 15px;
  }