.heading{
    text-align: center;
    color: #3FB5C5;
}

/* Homepage */
/* Nav */
.navbar {
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon {
  margin-right:6px;
}
/* Header */
.hero {
    background:url(../../assets/img/kitchen.jpg) no-repeat center;
    background-size:cover;
    position: relative;
    border:none;
    margin-bottom: 0px;
    z-index: -10;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20, 20, 20, .5);
    z-index: -9 /*Moved one position above the -10 */
  }
  .para{
    color: #fff;
  
  }
@media (min-width:992px) {
  .hero .get-it {
    text-align:right;
    margin-top:30px;
    padding-right:30px;
  }
}
  
@media (max-width:992px) {
  .hero .get-it {
    text-align:center;
  }
}
  
.hero .get-it h1{
  color: #fff;
  margin-bottom:40px;
  font-weight: 600;
}
  
  /* .hero .get-it .btn {
    margin-left:10px;
    margin-bottom:10px;
    text-shadow:none;
  } */
/* Feature Section */
.description {
    font-size:18px;
    margin-bottom:0;
  }

  .features-clean .item .icon {
    font-size:40px;
    color: #3FB5C5;
    float:left;
    margin-top:20px;
    margin-left:-65px;
  }

  .features-clean .item {
    min-height:100px;
    padding-left:80px;
    margin-bottom:40px;
  }
  .features-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 60px;
  }
  .features-clean h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:#3FB5C5;
    text-align: center;
    font-size: 36px;
  }
  .name {
    font-size:24px;
    font-weight: 600;
  }

  @media (max-width:767px) {
    .features-clean h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  } 
  
  @media (max-width:767px) {
    .features-clean .intro {
      margin-bottom:40px;
    }
  }
  
  
  @media (max-width:767px) {
    .features-clean .item {
      min-height:0;
    }
  }

  @media (max-width:767px) {
    .features-clean {
      padding-bottom:10px;
    }
  }


  /* LOGIN */

  /* Dashboard */

  nav.vertical-nav {
    padding: 0;
  }

  .vertical-nav  ul{
    list-style: none;
    padding: 0;
  }

  .vertical-nav ul li{
    display:block;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .vertical-nav ul li a {
    text-align: center;
  }

  .vertical-nav ul li a:hover {
    text-decoration: none;
    font-weight: bolder;
  }
  .signuph2{
    font-weight: bold;
  }
  /* Recipe Search */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
  body{
    /* background: #f2f2f2; */
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    border: 3px solid #00B4CC;
    padding: 5px;
    /* height: 20px; */
    /* border-radius: 5px; */
    /* color: #9DBFAF; */
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    /* position: absolute;   */
    /* right: -50px; */
    /* width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: linear-gradient(270deg, #00d19b , #00d1bd );
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px; */
  }
  .input-group{
    margin-top: 15px;
  }
  #searchRecipeButton{
    color: #fff;
    /* background: linear-gradient(270deg, #00d19b , #00d1bd ); */
    background-color: #00B4CC;
  }
#searchbox{
  margin-left: auto;
  margin-right: auto;
}

.a {
  position:absolute;
  width: 100%;
  opacity: 0.8;
}
#mainHeader{
}
/*
.a::after {
  content: " ";
  z-index: -9;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
}*/
.hero {
  height: 500px;
  margin-top: 100px;
}
/*#input {
  postion: relative;
}
*/
#input {
  background-color: black;
  opacity: 0.4;
  border: white 2px solid;
}
.inner-addon {
    position: relative;
}
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  font-size: 20px;
  padding: 10px;
  pointer-events: none;
  color: black;
}
/* align icon */
.right-addon .glyphicon { right: 0px;}
/* add padding  */
.right-addon input { padding-right: 30px; }


/* Card stuff */

.recipeCard {

/* overflow: hidden;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 -webkit-transition: .25s box-shadow;
 transition: .25s box-shadow;
 margin: 2px 2px 2px 2px*/
  border: 1px solid black;
  box-shadow:1px 3px 8px #3b5998;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  text-align:center;
  background: white;
/*  background: linear-gradient(270deg, #00d19b, #00d1bd);
  background-size: 400% 400%;

  -webkit-animation: cardAnimation 30s ease infinite;
  -moz-animation: cardAnimation 30s ease infinite;
  animation: cardAnimation 30s ease infinite;*/
}
.card:focus, .card:hover {
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.card-inverse .card-img-overlay {
 background-color: rgba(51, 51, 51, 0.85);
 border-color: rgba(51, 51, 51, 0.85);
}

hr { margin:1px}
@-webkit-keyframes cardAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes cardAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes cardAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.card-img-top{
  position: absolute;
  text-align:center;
  border-radius: 3px;
  max-width: 100%;
  height: auto;
}