

div.iphone-mockup {
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device {
  width:100%;
  height:auto;
}

.icon-feature {
  text-align:center;
}

.icon-feature .glyphicon {
  font-size:35px;
}

section.features {
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.features .icon-features {
  margin-top:15px;
}

.testimonials blockquote {
  text-align:center;
}

section.testimonials {
  margin:50px 0;
}

.site-footer {
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5 {
    text-align:left;
  }
}

.site-footer h5 {
  color:#3FB5C5;
  font-size:20px;
  font-weight: 600;
}

@media (min-width:768px) {
  .site-footer .social-icons {
    text-align:right;
  }
}

